<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Select League</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/event.css}">

</head>
<body>
  <div th:replace="~{fragments/navBar :: header}"></div>
  
<!-- partial:index.partial.html -->
<div id="login-form-wrap">

  <div class="form-style-2">
    <h2 id="createEventheader">Select League</h2>
   <form th:action="@{/saveLeagueDetails}" method="POST" id="login-form" th:object="${user}" style="margin-top: 10%;">
  <div class="style fade-in">
 
  <div class="box">
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">League</th>
            <th scope="col">Name</th>
            <th scope="col">Selection</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="league : ${leagues}">
            <th scope="row" th:text="${leagueStat.index+1}"></th>
            <td th:text="${league.leagueName}"></td>
            <td> <input   type="checkbox" class="c4" id="SENIORMEN" th:field="*{leagueId}" th:value="${league.leagueId}" unchecked> </td>
          </tr>
          </tbody>

      </table>
      <div class="col text-center">
        <button type="submit"  style="background-color: rgb(181, 53, 57);margin-top: 5%;margin-bottom: 5%;color: white;" >Save League Selection</button>
      </div>

    </div>
    </div>
        
  </form>
    </div>

</div><!--login-form-wrap-->
<!-- partial -->
  
</body>
</html>