<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  
  <link rel="stylesheet" th:href="@{/css/setupMembership.css}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="p-3 mb-2 bg-warning text-dark">

  
  <div class="bubbles_wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
    
  </div>

<form th:action="@{/saveLeagueDetails}" method="POST" th:object="${user}">
  <div class="style fade-in">
 
  <div class="box">
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">League</th>
            <th scope="col">Name</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="league : ${leagues}">
            <th scope="row" th:text="${leagueStat.index+1}"></th>
            <td th:text="${league.leagueName}"></td>
            <td> <input   type="checkbox" class="c4" id="SENIORMEN" th:field="*{leagueId}" th:value="${league.leagueId}" unchecked> </td>
          </tr>
          </tbody>

      </table>
      <div class="col text-center">
        <button type="submit" class="btn btn-lg btn-primary mr-1 " >Save League Selection</button>
      </div>

    </div>
    </div>
        
  </form>
</body>
</html>