<html>
    <header>
  
    </header>
  
    <body>
        <label th:text="${matchDetails.matchName}"/><br>
        <br><br>
      <br><br>
      <label th:text="${matchDetails.matchName}"/><br>
      <label th:text="${matchDetails.team1Name}"/><br>
      <label th:text="${matchDetails.team2Name}"/><br>
      <label th:text="${matchDetails.team1Score}"/><br>
      <label th:text="${matchDetails.team2Score}"/><br>
      <label th:text="${matchDetails.sheetNumber}"/><br>
      <label th:text="${matchDetails.dateAndTime}"/><br>

      </div>
    </body>
  
  </html>
  