<!DOCTYPE html>
<html>
    <head>
        <title>Upcoming matches</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/match.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>
<body style="background-color:rgb(43, 43, 43)"> 

  <div th:replace="~{fragments/navBar :: header}"></div>

<div class="container">
  <div class="card">
    <div class="card_title">
      
      <h2 th:text="${isUpcomingMatch} ? 'Upcoming Match': 'Completed Match'">Upcoming Match</h2>
      <!--<p id="match_type">T20 1 of 60</p>-->
      <br>
  
      <b><label id="match_type" th:text="${matchDetails.matchName}"/></b><br>
      <label id="match_type" th:text="${matchDetails.dateAndTime}"/><br>
      <label> Sheet Number : </label><label th:text="${matchDetails.sheetNumber}"/><br>

    </div>
    <div class="match_info">
      <div class="team_name">
        <div class="team1">
          <img

          th:src="@{/images/TorontoFC.png}" 
            alt="96x96"

            width="96px"

            height="96px"
          />
          <h3 th:text="${matchDetails.team1Name}"></h3>
          <pre>   </pre><p th:text="${matchDetails.team1Score}"></p>
        </div>
      
      </div>

      <div class="date_time">

        </div>

      <div class="vs" style="margin-left: 20px;">
        <p>vs</p>
      </div>
   
      <div class="date_time">
        <div class="team2">
          <img
          th:src="@{/images/logo.png}" 
            alt="96x96"
            width="96px"

            height="96px"
          />
          <h3 th:text="${matchDetails.team2Name}"></h3>
          <pre>   </pre><p th:text="${matchDetails.team2Score}"></p>
        </div>
      </div>
    </div>

    <h3 th:text="${hasWinner} ? '': ${winnerName}"></h3>
  </div>
</div>

</body>