<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tournament</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="index.css">
    </head>
    <body style=" position: absolute;
                    top:30%;
                    left: 50%;
                    transform: translate(-50%, -50%);">
    
        <H1>Ongoing Tournaments</H1>

        <label>Tournament 1</label>
        <input type="submit" value="Register">

        <br><br>

        <label>Tournament 2</label>
        <input type="submit" value="Register">

        <br><br>

        <H1>Completed Tournaments</H1>

        <label>Tournament X</label>
        
        <br><br>

       


    </body>
</html>