  <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: rgb(181, 53, 57); " th:fragment="header">
    <div>
      <a class="navbar-brand" href="javascript:void(0)"> <img class="imgbtnsize" th:src="@{/images/NFCClogo.jpg}" style="width: 35px; background-color: none; 
        margin-left: 0.2cm; margin-top: 0.125cm;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/home?uid=}+${userId}">Home</a>
          </li>
              <li class="nav-item"><a class="nav-link" th:href="@{/view_events?uid=}+${userId}">Events</a></li>
          
              <li class="nav-item"><a class="nav-link" th:href="@{/upcoming_all_matches?uid=}+${userId}">All Macthes</a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/upcoming_matches?uid=}+${userId}">Your Matches</a></li>
             <li class="nav-item"><a class="nav-link" th:href="@{/tournaments?uid=}+${userId}">All Bonspiel</a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/league_selection?uid=}+${userId}">Select League</a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/editprofile?uid=}+${userId}">Edit Profile</a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/signin}">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>