@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #fff;
  width: 800px;
  height: 360px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 20px;
}


.match_info,
.card_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.team1,
.team2 {
  display: flex;
  align-items: center;
}

.team1 img,
.team2 img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.card h1 {
  font-size: 40px;
}

.vs {
   background-color: #ffffff;
   width: 50px;
   height: 50px;
   border-radius: 40px;
   margin-left: -7vw;

}
.vs p {
  padding: 7px 12px;
  color: rgb(181, 53, 57);;
  font-size: 55px;
  margin-left: -2vw;
  
}

.seeDetails {
  display: grid;
  place-items: center;
  margin-top: 5.5vw;
}

.seeDetails a {
  text-decoration: none;
  color: #000;
}

.seeDetails span {
  margin: 20px 20px;
}




@-webkit-keyframes animateBubble {
    0% {
      margin-top: 20%;
    }
    to {
      margin-top: -30%;
    }
  }
  @keyframes animateBubble {
    0% {
      margin-top: 20%;
    }
    to {
      margin-top: -30%;
    }
  }
  @-webkit-keyframes sideWays {
    0% {
      margin-left: 0;
    }
    to {
      margin-left: 25px;
    }
  }
  @keyframes sideWays {
    0% {
      margin-left: 0;
    }
    to {
      margin-left: 25px;
    }
  }
  .x1 {
    -webkit-animation: animateBubble 15s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 15s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 6%;
    top: 45%;
    background: #ffca7b;
  }
  .x2 {
    -webkit-animation: animateBubble 10s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 10s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 5%;
    top: 80%;
    background: #f0b8b8;
  }
  .x3 {
    -webkit-animation: animateBubble 18s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 18s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 10%;
    top: 40%;
    background: #5ed5cb;
  }
  .x4 {
    -webkit-animation: animateBubble 12s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 12s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    left: 20%;
    top: 0;
    background: #8beabd;
  }
  .x5 {
    -webkit-animation: animateBubble 19s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 19s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 30%;
    top: 50%;
    background: #e67f83;
  }
  .x6 {
    -webkit-animation: animateBubble 11s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 11s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 50%;
    top: 0;
    background: #6aaa96;
  }
  .x7 {
    -webkit-animation: animateBubble 10s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 10s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 65%;
    top: 70%;
    background: #ffca7b;
  }
  .x8 {
    -webkit-animation: animateBubble 12s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 12s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    left: 80%;
    top: 10%;
    background: #b67cea;
  }
  .x9 {
    -webkit-animation: animateBubble 19s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 19s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 90%;
    top: 50%;
    background: #fff281;
  }
  .x10 {
    -webkit-animation: animateBubble 16s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 16s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 80%;
    top: 80%;
    background: #ff8c82;
  }
  .bubble {
    border-radius: 50%;
    box-shadow: none;
    height: 5px;
    position: absolute;
    width: 5px;
  }
 
 body{
   
   color: rgb(3, 3, 4);
   text-rendering: optimizeLegibility;
   font-smooth: always;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: rgb(22, 22, 22);;
   font-size: 17px;
   overflow: hidden;
   font-weight: 400;
   padding-top: 0.5%;
 }
 
 
 
   
   .box {
     background-color: rgb(206, 206, 206);
     width:700px;
     min-height: 550px;
     border: 5px solid #A2AAAD;;
     padding: 50px;
     margin: 20px;
     position: relative;
   
     left: 25%;
 
     border-radius: 45px;
    
     font-family: 'Playfair Display', serif;
     
   }
           input{
              
     height: 25px;
     width: 25px;
     background-color: #eee;
     
 
 
           }
 
 
           
 
 .navbar {
   overflow: hidden;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(0, 0, 0);
 
   border-radius: 45px;
 }
 
 .navbar a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 .subnav {
   float: left;
   overflow: hidden;
 }
 
 .subnav .subnavbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
 }
 
 .navbar a:hover, .subnav:hover .subnavbtn, .subnavright:hover .subnavbtn {
   background-color:rgb(181, 53, 57);;
 }
 
 .subnav-content {
   display: none;
   position: absolute;
   left: 0;
   background-color: rgb(181, 53, 57);;
   width: 100%;
   z-index: 1;
 }
 
 .subnavright-content {
   display: none;
   position: absolute;
   right: 0;
   background-color: rgb(181, 53, 57);;
   width: 10%;
   z-index: 1;
 }
 
 .subnav-content a {
   float: left;
   color: white;
   text-decoration: none;
 }
 
 .subnavright-content a {
   float: left;
   color: white;
   text-decoration: none;
 }
 
 .subnav-content a:hover {
   background-color: #eee;
   color: black;
 }
 
 .subnavright-content a:hover {
   background-color: #eee;
   color: black;
 }
 
 .subnav:hover .subnav-content{
   display:block;
 }
 
 .subnavright:hover .subnavright-content{
   display:grid;
 }
 
 
 .imgdiv{
   width: 6%;
 }
 
 img{
   max-width:60%;
 }
 
 .subnavright{
   float: right;
   overflow: hidden;
 }
 
 .subnavright .subnavbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
 }