

lname[type="text"], email[type="text"],pNumber[type="number"],input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 6px;
    border: 1px solid #bababa;
    border-radius: 15px;
    background: #fff;
    font-size: 16px;
    resize: none;
    outline: none;

}

lname[type="text"],email[type="text"],pNumber[type="text"],input[type="text"]:focus {
    border-color: #00bafa;
}
lname[type="text"],email[type="text"],pNumber[type="text"],input[type="text"]:focus + label[placeholder]:before {
    color: #0091da;
}
lname[type="text"],email[type="text"],pNumber[type="text"],input[type="text"]:focus + label[placeholder]:before,
lname[type="text"],email[type="text"],pNumber[type="text"],input[type="text"]:valid + label[placeholder]:before {
    transition-duration: .2s;
    transform: translate(0, -1.6em) scale(0.9, 0.9);
    font-weight: bold;
}
lname[type="text"],email[type="text"],pNumber[type="text"],input[type="text"]:valid {
    border-color: green;
}
lname[type="text"],email[type="text"],pNumber[type="text"],input[type="text"]:valid + label[placeholder]:before {
    color: green;
}
lname[type="text"],email[type="text"],pNumber[type="text"],input[type="text"]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
lname[type="text"],email[type="text"],pNumber[type="text"],input[type="text"] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
lname[type="text"],email[type="text"],pNumber[type="text"],input[type="text"] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(0.5em + 2px);
    padding: 0 2px;
    color: #7d7d7d;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

input.nPassword,input.cPassword {
    -webkit-text-security: disc;
}

input.SignUp{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 6px;
    border: 1px solid #bababa;
    border-radius: 15px;
    background: #fff;
    font-size: 16px;
    resize: none;
    outline: none;
    transition: 0.5s;
    background-size: 200% auto;
}

input.SignUp{background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}


input.SignUp:hover {
    background-color: dodgerblue;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
input.SignIn{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 6px;
    border: 1px solid #bababa;
    border-radius: 15px;
    background: #fff;
    font-size: 16px;
    resize: none;
    outline: none;
    transition: 0.5s;
    background-size: 200% auto;
}

input.SignIn{background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}


input.SignIn:hover {
    background-color: dodgerblue;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
input.nPassword[type=text],input.cPassword[type=text]{

    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 6px;
    border: 1px solid #bababa;
    border-radius: 15px;
    background: #fff;
    font-size: 16px;
    resize: none;
    outline: none;
}


.wrapper{

    display: grid;
    grid-template-columns: 80% 20%;
    width: 80vw;
    height: 80vh;
    padding-top: 40px;
    padding-left: 30px;
    column-gap: 10px;
    padding-bottom: 40px;


}

.wrapper > .formed{
    border: 2px solid lightgrey;
    padding: 10px;
    border-radius: 25px;
    background: white;
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper > div:nth-child(odd){
    background:white;
    align-items: center;
    justify-items: center;
}


.logo {
    width:auto;
    text-align:center;
    border-radius: 25px;
}
img {

    width:400px;

    height:300px;

    object-fit: contain;
}

a {
    color: dodgerblue;
}

.signIn, .SignUp{
    background-color: white;
    text-align: center;
}

body{
    font-family: 'Poppins', sans-serif;
}
